DEBUG=False
SECRET_KEY=change-me

DB_NAME=contaidb
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=redis://localhost:6379/0
REDIS_URL=redis://localhost:6379/1

OPENAI_API_KEY=you-key