# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
mediafiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env